<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style>
        label {
            font-size: 20px;
        }

        .btn {
            background-color: transparent;
            color: black;
            border: 1px solid black;
        }

        .btn:hover {
            background-color: black;
            color: white;
            box-shadow : 3px 3px 10px white;
            border: 1px solid white;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-inverse fixed-top" style="margin: 0px 30px 0px 30px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Samsung
            </a>
        </div>
        <a th:href="@{/logout}" href="#" class="btn navbar-right"
           style="margin: 9px 0px 0px 0px; color: green;">Logout</a>
        <a th:href="@{/admin}" href="#" class="btn navbar-right"
           style="margin: 9px 10px 0px 0px; color: darkgray;">Admin</a>
        <!-- <span class="nav navbar-nav navbar-brand navbar-center" style="margin: 0px 0px 0px 380px;">
      Welcome to Admin
</span> -->
        <!-- <div class="nav navbar-nav navbar-right" style="background-color: transparent;">
  <button class="btn" type="submit" value="Login" style="background-color: transparent; color: white; margin: 10px 30px 0px 0px;">Login</button>
</div> -->
    </div>
</nav>

<div class="container-fluid">

    <a th:href="@{/admin/products/add}" style="margin: 20px 0" class="btn btn-primary">Add Product</a>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Preview</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product, iStat : ${products}">
            <th scope="row" th:text="${iStat.index + 1}">1</th>
            <td th:text="${product.pname}">Larry</td>
            <td th:text="${product.category.cname}">Larry</td>
            <td><img th:src="@{${'/productImages/' + product.imageName}}" src="" th:alt="${'/productImages/' + product.imageName}" height="100px" width="100px">
            </td>
            <td><a href="" th:href="@{/admin/product/delete/{id}(id=${product.pid})}"
                   class="btn btn-danger">Delete</a></td>
            <td><a href="" th:href="@{/admin/product/update/{id}(id=${product.pid})}"
                   class="btn btn-warning">Update</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: myfooter" ></div>

</body>

</html>